name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up SSH and deploy to VPS
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.VPS_IP }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            ssh -v -i ~/.ssh/id_rsa_rsa ${{ secrets.VPS_USER }}@${{ secrets.VPS_IP }} "
              cd ~/projects/chat-io &&
              git pull origin main &&
              docker-compose down &&
              docker-compose build &&
              docker-compose up -d &&
              docker ps
            "
